<div class="sidebar-container" [ngClass]="isOpen ? 'active' : ''">

    <div class="main">
              <sidebar-button
               [routerLink]="isSuperAdmin ? ['superadmin'] : ['admin']" 
               [isOpen]="isOpen" [iconName]="'space_dashboard'" 
               [label]="'Dashboard'"></sidebar-button>
              <!-- if user is superadmin, render these -->
              @if (isSuperAdmin) {
                  
                    <sidebar-button [routerLink]="['superadmin/accounts']" [isOpen]="isOpen" [iconName]="'admin_panel_settings'" [label]="'Admin Panel'"></sidebar-button>
      
                    <sidebar-button [routerLink]="['superadmin/permissionGroup']" [isOpen]="isOpen" [iconName]="'badge'" [label]="'Permissions'"></sidebar-button>
            }
                
              <sidebar-button [routerLink]="['employee']" (click)="expandButton($event)" 
              [ngClass]="isExpand ? 'expanded' : '' "
               [isOpen]="isOpen" [iconName]="'groups'" [label]="'Employees'">

                <div class="employee-menu" [ngStyle]="{'display': !isOpen ? 'none' : (isOpen ? 'block' : null) }" >
                        <ul>
                            <li >
                                <button 
                                [routerLink]="'employee/department'"
                                (click)="stopPropogation($event)"  >
                                    <div class="employee-button button-text-container">
                                        <div>
                                            <mat-icon fontSet="material-icons-outlined">reduce_capacity</mat-icon> 
                                        </div>
                                        @if(isOpen) {
                                
                                            <div>
                                                <span [style.opacity]="isOpen ? 1 : 0" class="button-text">Department</span>
                                            </div>
                                        }
                                    </div>
                                  </button>
                            </li>
                            <li>
                                <button 
                                [routerLink]="'employee/attendance'" (click)="stopPropogation($event)"  >
                                    <div class="employee-button button-text-container">
                                        <div>
                                            <mat-icon fontSet="material-icons-outlined">edit_calendar</mat-icon> 
                                        </div>
                                        @if(isOpen) {
                                
                                            <div>
                                                <span [style.opacity]="isOpen ? 1 : 0" class="button-text">Attendance</span>
                                            </div>
                                        }
                                    </div>
                                  </button>
                            </li>
                            <li>
                                <button 
                                [routerLink]="'employee/payroll'"(click)="stopPropogation($event)">
                                    <div class="employee-button button-text-container">
                                        <div>
                                            <mat-icon fontSet="material-icons-outlined">contact_mail</mat-icon> 
                                        </div>
                                        @if(isOpen) {
                                
                                            <div>
                                                <span [style.opacity]="isOpen ? 1 : 0" class="button-text">Payroll</span>
                                            </div>
                                        }
                                    </div>
                                  </button>
                            </li>
                        </ul>

                </div>

              </sidebar-button>

              <sidebar-button [routerLink]="['projects']" [isOpen]="isOpen" [iconName]="'topic'" [label]="'Projects'"></sidebar-button>

              <sidebar-button [routerLink]="['schedule']" [isOpen]="isOpen" [iconName]="'punch_clock'" [label]="'Schedule'"></sidebar-button>
              
              <sidebar-button [routerLink]="['leave']" [isOpen]="isOpen" [iconName]="'free_cancellation'" [label]="'Leave'"></sidebar-button>

    </div>

    <!-- open sidebar button -->
    <button class="sidebar-opener" (click)="openSidebar()"><mat-icon>
        {{isOpen ? 'chevron_left': 'chevron_right' }}
    </mat-icon> </button>


</div>
