<div class="sidebar-mobile-container">

    <button  >
        <div class="button-text-container">
            <div>
                <mat-icon fontSet="material-icons-outlined">space_dashboard</mat-icon> 
            </div>

                <div>
                    <span class="button-text">Dashboard</span>
                </div>
        </div>
      </button>
      <button  >
        <div class="button-text-container">
            <div>
                <mat-icon fontSet="material-icons-outlined">admin_panel_settings</mat-icon> 
            </div>

                <div>
                    <span class="button-text">Admin Panel</span>
                </div>
        </div>
      </button>
      <button  >
        <div class="button-text-container">
            <div>
                <mat-icon fontSet="material-icons-outlined">badge</mat-icon> 
            </div>

                <div>
                    <span  class="button-text">Permissions</span>
                </div>
        </div>
      </button>
      <button  >
        <div class="button-text-container">
            <div>
                <mat-icon fontSet="material-icons-outlined">groups</mat-icon> 
            </div>

                <div>
                    <span  class="button-text">Employees</span>
                </div>
        </div>
      </button>
      <button  >
        <div class="button-text-container">
            <div>
                <mat-icon fontSet="material-icons-outlined">topic</mat-icon> 
            </div>

                <div>
                    <span  class="button-text">Projects</span>
                </div>
        </div>
      </button>
      <button  >
        <div class="button-text-container">
            <div>
                <mat-icon fontSet="material-icons-outlined">punch_clock</mat-icon> 
            </div>

                <div>
                    <span  class="button-text">Schedule</span>
                </div>
        </div>
      </button>
      <button  >
        <div class="button-text-container">
            <div>
                <mat-icon fontSet="material-icons-outlined">free_cancellation</mat-icon> 
            </div>

                <div>
                    <span  class="button-text">Leave</span>
                </div>
        </div>
      </button>
</div>
