<div class="sidebar-mobile-container">

      <sidebar-mobile-button
      [pageLabel]="'Dashboard'"
      [label]="'Dashboard'"
      [iconName]="'space_dashboard'"
      [routerLink]="isSuperAdmin ? ['superadmin'] : ['admin']"
      ></sidebar-mobile-button>

      @if(isSuperAdmin) {
          <sidebar-mobile-button
          [pageLabel]="'Admin Panel'"
          [label]="'Admin Panel'"
          [iconName]="'admin_panel_settings'"
          [routerLink]="['superadmin/accounts']" 
          ></sidebar-mobile-button>
    
          <sidebar-mobile-button
          [pageLabel]="'Permissions'"
          [label]="'Permissions'"
          [iconName]="'badge'"
          [routerLink]="['superadmin/permissionGroup']" 
          ></sidebar-mobile-button>
      }

      <sidebar-mobile-button
      [pageLabel]="'Employee'"
      [label]="'Employees'"
      [iconName]="'groups'"
      [routerLink]="['employee']"  
      ></sidebar-mobile-button>

      <sidebar-mobile-button
      [pageLabel]="'Projects'"
      [label]="'Projects'"
      [iconName]="'topic'"
      [routerLink]="['projects']"  
      ></sidebar-mobile-button>

      <sidebar-mobile-button
      [pageLabel]="'Schedule'"
      [label]="'Schedule'"
      [iconName]="'punch_clock'"
      [routerLink]="['schedule']"  
      ></sidebar-mobile-button>

      <sidebar-mobile-button
      [pageLabel]="'Leave'"
      [label]="'Leave'"
      [iconName]="'free_cancellation'"
      [routerLink]="['leave']"  
      ></sidebar-mobile-button>

</div>
