<div class="overlay" [style.display]="showOverlay ? 'block' : 'none'"></div>

<div
  class="burger-menu"
  [class.active]="active"
  (click)="currentWidth < maxWidth ? onBurgerClicked() : ''"
>
  <div class="burger-container">
    <div class="burger-inner"></div>
  </div>

  <div class="burger-space"></div>
</div>
<div class="layout-content">
  <div class="utilities">
    <!-- mat-fab extended
            if you want to add text next to icon -->
    <img src="../../../../assets/HRtransparent.png" alt="logo">
    <div>
      <search-bar></search-bar>
    </div>
  </div>
  <div class="account">
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>inbox</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</div>
<div class="layout-content-mobile">mobile</div>
