<div class="overlay" [style.display]="showOverlay ? 'block' : 'none'"></div>

<div
  class="burger-menu"
  [class.active]="active"
  (click)="currentWidth < maxWidth ? onBurgerClicked() : ''"
>
  <div class="burger-container">
    <div class="burger-inner"></div>
  </div>

  <div class="burger-space"></div>
</div>
<div class="toolbar-content">
  <div class="utilities">
    <!-- mat-fab extended
            if you want to add text next to icon -->
    <img [routerLink]="isAdmin ? ['/dashboard'] : '' " src="../../../../assets/HRtransparent.png" alt="logo">
    <div>
      <search-bar></search-bar>
    </div>
  </div>
  <div class="account">
    <button matTooltip="Notifications" mat-icon-button>
      <mat-icon class="notifications-icon" >notifications</mat-icon>
      <div class="dropdown">
          <li>test1</li>
          <li>test2</li>
      </div>
    </button>
    <button matTooltip="Messages" mat-icon-button>
      <mat-icon class="inbox-icon" >inbox</mat-icon>
      <div class="dropdown">
        <li>test1</li>
        <li>test2</li>
    </div>
    </button>
    <button matTooltip="Profile" mat-icon-button>
      <mat-icon class="profile-icon">account_circle</mat-icon>
      <div class="dropdown">
        <li>test1</li>
        <li>test2</li>
    </div>
    </button>
    <button matTooltip="Settings" mat-icon-button>
      <mat-icon class="settings-icon">settings</mat-icon>
      <div class="dropdown">
        <li>test1</li>
        <li 
        (click)="logout()"
        >Logout</li>
    </div>
    </button>
  </div>
</div>
<div class="toolbar-content-mobile">
  <div class="search-bar-mobile">search</div>

  <div class="page-mobile">{{currentPage$ | async}}</div>

  <div class="profile-mobile">
    <button mat-icon-button>
      <mat-icon >notifications</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</div>
