@use '../../../styles/positioning';
@use '../../../styles/typography';

.message-block {
    @include positioning.centering;

    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    width: 100%;
    height: 4rem;
    border-radius: 5px;

    &.success {
        background-color: #5cb85c;
    }

    &.error {
        background-color: #ed4337;
    }

    button {
        position: absolute;
        right:0;
        top: 0;
        color: typography.$font-color-primary
    }

}