@use '../styles/positioning';
@use '../styles/color';

.content-container {
    @include positioning.flex-row;
    max-width: 100%;


    .main-content {
        width: 100%;
        background-color: color.$background-color; 
    }
    
}
//desktop sidebar styling
sidebar {
    @include positioning.flex-column;
    height: 100vh;
    width: 100px;
    transition: width 0.5s;
    

    @media screen and (min-width: 1278px){
        width: 300px;
    }

    &.open {
        width: 300px;
    }

    @media screen and (max-width: 1078px) {
        &.open {
            width: 200px;
        }
    }

    @media screen and (max-width: 548px) {
        display: none;
    }
    background-color: color.$secondary-color;
}

.wrapper {
    overflow: hidden;
    height: 100vh;
    width: 0px;

    &.active {
        sidebar-mobile {
            transform: translateX(0);
        }
    }

}
//mobile sidebar styling
sidebar-mobile {
    position: absolute;
    @include positioning.flex-column;
    height: 100vh;
    width: 75px;
    transform: translateX(-100%);
    transition: transform 0.5s;
    background-color: color.$secondary-color;
    z-index: 1;
    @media screen and (min-width: 548px) {
        display: none;
    }

}


layout {
    @include positioning.flex-row;
}

