@use '../styles/positioning';
@use '../styles/color';

.content-container {
    @include positioning.flex-row;
    max-width: 100%;
    height: 100vh;
    overflow-y: auto;

    .main-content {
        width: 100%;
        padding: 2rem 2rem 2rem 2rem;
        overflow-y: auto;
        background-color: color.$background-color; 
        overflow: hidden;
    }
    
}
//desktop sidebar styling
sidebar {
    @include positioning.flex-column;
    height: 100vh; // This ensures the sidebar takes up the full height of the screen
    width: 130px;
    position: sticky;
    top: 0;
    overflow-y: scroll;
    transition: width 0.5s;
    //hides the scrollbar, but maintains the scroll feature
    &::-webkit-scrollbar {
        display: none;
      }
    

    @media screen and (min-width: 1278px){
        width: 300px;
    }

    &.open {
        width: 300px;
    }

    @media screen and (max-width: 1078px) {
        &.open {
            width: 230px;
        }
    }

    @media screen and (max-width: 548px) {
        display: none;
    }
    background-color: color.$secondary-color;
}

.wrapper {
    overflow: hidden;
    height: 100vh; // This ensures the sidebar takes up the full height of the screen
    width: 0px;

    &.active {
        sidebar-mobile {
            transform: translateX(0);
        }
    }

}
//mobile sidebar styling
sidebar-mobile {
    position: absolute;
    @include positioning.flex-column;
    height: 100%;
    width: 130px;
    transform: translateX(-100%);
    transition: transform 0.5s;
    background-color: color.$secondary-color;
    z-index: 2;
    @media screen and (min-width: 548px) {
        display: none;
    }

}

toolbar {
    @include positioning.flex-row;
    position: sticky; //make it sticky
    top: 0;
    z-index: 1;
}

